<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="secrets-title display-3">You've Discovered Someone Secrets!</h1>

    <% shuffledSecretsArray.forEach(function(secret){ %>
      <% secret.forEach(function(singleSecret){ %>
        <div class="row">
          <div class="col-md-11 col-sm-12">
            <p class="secret-text"> <%= singleSecret %> </p>
          </div>
          <div class="col-md-1 col-sm-12">
            <% if (currentUser.username === "106354804168606991157" || currentUser.username === 'admin@gmail.com') { %>
              <form action="/delete" method="post">
                <button class="delete btn btn-light" type="submit" name="secret" value="<%=singleSecret%>">Delete</button>
              </form>
            <% } else if (currentUser.secret.includes(singleSecret) === true) { %>
              <form action="/delete" method="post">
                <button class="delete btn btn-light" type="submit" name="secret" value="<%=singleSecret%>">Delete</button>
              </form>
            <% } %>
          </div>
        </div>
      <% }); %>  
    <% }); %>

    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
